overall/hsq
overall/output
overall/tmp
overall/WEIGHTS

h2_estimation/pheno_files
h2_estimation/tmp

rare_variant_analysis/tmp_rare_variant_analysis
rare_variant_analysis/WEIGHTS_rare_variant_analysis

sample_scaling/tmp_scaling
sample_scaling/WEIGHTS_scaling

time_trials/output
time_trials/tmp
time_trials/WEIGHTS